body {
	font-family: Verdana, sans-serif, Helvetica !important;
	font-size: 12pt;
	margin: 10px;
}

button {
	font-family: Verdana, sans-serif, Helvetica;
	margin-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 8pt;
	color: #ffffff;
	border: 1px solid #327e04;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background: #4da20b;
	cursor: pointer; cursor: hand;
}

button:hover {
	background: #73b632;
}

button:active {
	color: #4da20b;
	border: 1px solid #d4ccb0;
	background: #ffffff;
}

a:link {
	text-decoration:none;
	color:#4da20b;
}

a:hover {
	font-weight:bold;
}

.pointer {
	cursor: pointer; cursor: hand;
}

/* TOP */
#header {
	position: relative;
	height: 70px;
}
#banner {
	position: absolute;
	bottom: 0;
	left: 0;
}

#menu {
	position: absolute;
	bottom: 0;
	right: 0;
}

#title {
	font-size: 64pt;
	color: #0A8104;
	line-height: 1;
}

#middle {

}

#breadcrumb {
	float:left;
}

/* DATE */
#date {
	width: 500px;
	margin:0px auto;
	text-align: center;
}

#datetitle {
	font-size: 24pt;
	color: #0A8104;
	line-height:1.5;
}

#datepicker {
	display: none;
	margin: 0px auto;
	width: 190px;
}

div.ui-datepicker{
 font-size:8pt !important;
}

#search {
	float:right;
}

hr {
	color: #0A8104;
	background-color: #0A8104;
	border-color: #0A8104;
	clear:both;
}



/* meal */
.meal_left {
	width: 250px;
	position: absolute;
}

.meal_image {
	width: 175px;
	height: 175px;
	margin-left: auto;
    margin-right: auto;
	border: 1px solid #dfd9c3;
	border-radius: 5px;
	background: #f5f3e5 url(south-street/images/ui-bg_highlight-hard_100_f5f3e5_1x100.png) 50% top repeat-x;
}

.meal_name {
	width: 100%;
	font-size: 14pt;
	margin-bottom: 10px;
}

.meal_labels {
	width: 200px;
	float: left;
}

.meal_price {
	padding-left: 0px;
	font-size: 16pt;
	width: 100px;
	margin-left: auto;
	text-align: center;
	white-space: nowrap;
	border: 1px solid #dfd9c3;
	border-radius: 5px;
	background: #f5f3e5 url(south-street/images/ui-bg_highlight-hard_100_f5f3e5_1x100.png) 50% top repeat-x;
}

.meal_rating {
	width: 110px;
	margin-left: auto;
    margin-right: auto;
	border: 1px solid #dfd9c3;
	border-radius: 5px;
	background: #f5f3e5 url(south-street/images/ui-bg_highlight-hard_100_f5f3e5_1x100.png) 50% top repeat-x;
}

.meal_rating_solution {
	text-align: right;
}

.meal_right {
	padding-left: 350px;
	padding-right: 50px;
}

.meal_comment {
	height: 100px;
	width: 100%;
	border: 1px solid #dfd9c3;
	border-radius: 5px;
	background: #0A8104;
	margin-top: 15px;
	margin-bottom: 15px;
}

.meal_comment_image {
	height: 100px;
	width: 100px;
	float: left;
}

.meal_comment_content {
	padding-left: 110px;
}

.meal_comment_content_header {
	padding-left: 10px;
	height: 20px;
	color: #f5f3e5;
}

.meal_comment_content_body {
	height: 68px;
	padding: 5px;
	border: 1px solid #dfd9c3;
	color: #000000;
	background: #f5f3e5 url(south-street/images/ui-bg_highlight-hard_100_f5f3e5_1x100.png) 50% top repeat-x;
}



div.mealcontainer {
	width: 20%;
	float: left;
}

div.ausgabe {
	font-size: 18pt;
	text-align: center;
	color: #0A8104;
}

div.meal {
	position: relative;
	
	width: 240px;
	height: 90px;
	
	font-size: 10pt;
	
	border: 1px solid #dfd9c3;
	border-radius: 5px;
	-moz-border-radius: 5px;
	
	background: #f5f3e5 url(south-street/images/ui-bg_highlight-hard_100_f5f3e5_1x100.png) 50% top repeat-x;
	
	margin: 5px auto;
	margin-bottom: 10px;
}

div.mealheader {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 230px;
}

div.mealpicture {
	float: left;
	margin-right: 5px;
}

div.mealtitle {
	 word-wrap: break-word;  /* Zeilenumbruch erzwingen  */
}

div.mealrating {
	position: absolute;
	bottom: 3px;
	left: 5px;
}

div.mealcomments {
	font-size: 7pt;
	position: absolute;
	width: 16px;
	height: 16px;
	bottom: 3px;
	right: 5px;
	background: url(images/bubble_small.png);
	text-align: center;
}

/* overlay */
#overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 199;
	
	background-color: #000;
   	-ms-filter: "Alpha(Opacity=75)"; /* IE 8 */
   	filter: alpha(opacity=75); /* IE5-7 */
   	-moz-opacity: 0.75; /* Mozilla */
   	opacity: 0.75;
}

#lightBox {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -200px;
	z-index: 200;
	width: 500px;
	height: 500px;
	background-color: #fff;
}

#overlay_meal {
	position: relative;
}

div.overlay_picture {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 128px;
	height: 128px;
}

div.overlay_title {
	position: absolute;
	top: 10px;
	left: 148px;
}

div.overlay_close {
	position: absolute;
	top: 10px;
	right: 10px;
	
}

div.overlay_rating {
	position: absolute;
	top: 120px;
	left: 148px;
}

div.overlay_comments {
	font-size: 10pt;
	position: absolute;
	top: 148px;
	left: 10px;
	height: 192px;
	width: 480px;
}

div.overlay_comment {
	position: relative;
	border: 1px solid;
	width: 480px;
	height: 64px;
}

div.overlay_comment_title {
	position: absolute;
	top: 5px;
	left: 5px;
}

div.overlay_comment_rating {
	position: absolute;
	top: 5px;
	right: 5px;
}

div.overlay_comment_content {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

div.overlay_input_name {
	position: absolute;
	top: 350px;
	right: 10px;
	left: 10px;
	
}

input.overlay_input_name {
	font-size: 10pt;
	width: 100%;
}

div.overlay_input_comment {
	position: absolute;
	top: 380px;
	height: 70px;
	left: 10px;
	right: 10px;
}

textarea.overlay_input_comment {
	font-size: 10pt;
	width:100%;
	height: 100%;
	resize: none;
}

div.overlay_input_send {
	position: absolute;
	top: 460;
	right: 10px;
}

#lightBox2 {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -150px;
	z-index: 200;
	width: 400px;
	height: 300px;
	background-color: #fff;
}

#overlay_login {
	font-size: 10pt;
	position: relative;
	width: 100%;
	height: 100%;
}

div.login_title {
	position: absolute;
	top: 10px;
	width: 100%;
	font-size: 24pt;
	text-align: center;
	
}

div.login_name {
	position: absolute;
	top: 80px;
	right: 98px;
}

input.login_name {
	
}

div.login_password {
	position: absolute;
	right: 10px;
	top: 120px;
}

div.login_facebook {
	position: absolute;
	right: 100px;
	top: 175px;
}

input.login_password {
	
}

div.login_failure {
	position: absolute;
	right: 10px;
	bottom: 50px;
}

div.login_lostpassword {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/* text selection */
::selection {
	background: #F0C97C;
}
::-moz-selection {
	background: #F0C97C;
}